@import "./animal-perfil.scss";

.coment-div {
  @extend .section-div;

  min-height: 200px;
}

.animal-list-div {
  @extend .section-div;

  min-height: 200px;
}

.perfil-div.adopter {
  padding-top: 15px;
  flex: 1 1 auto;
  max-width: 385px;
}

.other-section.adopter {
  -webkit-flex: 1 0 40%;
  flex: 1 0 40%;
}

.tabel-div.adopter {
  width: 100%;
  max-width: 380px;
  padding: 10px 0;

  .title-desc {
    margin-bottom: 0;
    margin-top: 5px;
  }

  td {
    max-width: none;
  }
}

.house-des {
  word-wrap: break-word;
  font-size: 15px;
  color: $dark-grey;
}

.btn-edit-adopter {
  position: absolute;
  bottom: 12px;
  right: 205px;
}

.blacklisted {
  font-size: 30px;
}

.black-list .modal-content {
  margin: 5% 0 10%;
  border-radius: 0;

  .confirm-message {
    margin: 5% 0;
    font-size: 18px;
  }

  .btn-div {
    text-align: center;

    .btn {
      font-size: 15px;
      border-radius: 0;
    }

    .btn-confirm {
      background: $orange;
      color: white;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }

    .btn-confirm:hover {
      background: $dark-orange;
      color: white;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }

    .btn-cancel {
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }

    .btn-cancel:hover {
      color: white;
      background: $ligth-dark-gery;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }
  }
}

.adopted-container {
  margin: 15px;
}

.animal-list-title {
  font-weight: 500;
  font-size: 17px;
  margin: 10px;
  color: grey;
}

.acction-button {
  text-align: center;
  height: 50px;
  margin-top: 10px;
}

.adopter-info-row {
  display: flex;
  flex-flow: row wrap;
}

.row-title {
  min-width: 12rem;
}
