$grey: #e6e6e6;
$light-grey: #f7f7f7;
$dark-grey: #9b9b9b;
$orange: #e8a948;

.titles-container {
  display: flex;
  margin-left: 41px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 20px;
}

.title-inside {
  flex: 5 0 auto;
}

.title-status {
  flex: 0 0 0;
  min-width: 45px;
  margin-right: 20px;
}

.adopter-name {
  font-weight: 500;
  font-size: 15px;
  color: $dark-grey;
  flex: 5 0 auto;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
  margin-left: 10px;
}

.view-interested-icon {
  flex: 0 0 auto;
  text-align: center;
  min-width: 45px;
  align-self: center;
}

.orange-color {
  color: $orange;
}

.button-list {
  font-weight: 300;
  font-size: 15px;
  color: $orange;
  border: none;
  background: none;
  padding: 0;
}

.list-button-container {
  margin: 1px;
}

.add-adopter-button {
  text-align: right;
}
