$grey: #E6E6E6;

.profile-page-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-self: flex-start;
  margin-bottom: 20px;
}

.events-gallery-section {
  max-width: 70%;
  width: 70%;
  min-width: 300px;
}

.profile-section {
  max-width: 20%;
  min-width: 300px;
  margin: 0 10px;
}

.perfil-div{
  border: 2px solid $grey;
  background-color: white;
  margin-bottom: 5px;
  padding: 5px;
}

.event-div{
  @extend .perfil-div;
  height: 345px;
}

.gallery-div{
  @extend .perfil-div;
  height: 175px;
}

.perfil-box{
  height: 525px;
  font-size: 13px;
}

.tabel-div{
  width : 100%;
  max-width : 280px;
  padding: 10px 30px 10px 30px;
  .table-borderless{
    width: 100%;
  }
}

.perfil-image {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
}

.gallery-buttons {
  position: relative;
  margin-bottom: 24px;
}

.slick-container {
  width: 97%;
}
