$grey: #E6E6E6;
$orange: #E8A948;
$orange-dark: #c39145;
$white: #FFFFFF;
$dark-grey: #9B9B9B;
$dark: #4A4A4A;

.profile-page-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-self: flex-start;
  margin: 0 15px 20px 15px;
}

.mini-profile-flex {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch; 
  flex-wrap: wrap;
}

.events-gallery-section {
  -webkit-flex: 1 0 70%;
  flex: 1 0 60%;
  min-width: 300px;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  max-width: 100%;
}

.profile-section {
  -webkit-flex: 1 0 20%;
  flex: 1 0 auto;
  min-width: 300px;
  margin: 0 10px;
}

.section-div{
  border: 2px solid $grey;
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
  position: relative;
}

.perfil-div{
  @extend .section-div;
  margin: 0 5px 5px 5px;
  width: 340px;
}

.event-div{
  @extend .section-div;
  flex: 1 0 auto;
}

.gallery-div{
  @extend .section-div;
  height: 175px;
  width: 100%;
}

.perfil-box{
  height: 100%;
  max-height: 810px;
  font-size: 14px;
  color: $dark;
  letter-spacing: 1px;
}

.tabel-div{
  width : 100%;
  max-width : 280px;
  margin: 0px;
  padding: 10px 30px;
  .table-borderless{
    width: 100%;
  }

  td{
    height: 27px;
  }

  tr{
    line-height: 17px;
  }
}

.mini-tabel-div{
  background-color: white;
  padding: 10px 30px 10px 30px;
  text-align : center;
  th{
    text-align : center;
    border-left: 2px solid $grey;
    border-bottom: 2px solid $grey;
    width: 160px;
    padding: 10px;
  }
  td{
    border-left: 2px solid $grey;
    width: 160px;
    padding: 10px;
  }
}

.perfil-image {
  width: 100%;
  max-height: 440px;
  border: 1px solid $dark-grey;
}

.mini-perfil-image {
  width: 100%;
  max-width: 100px;
  max-height: 88px;
}

.gallery-buttons {
  position: relative;
  margin-bottom: 24px;
}

.button-edit-galery{
  background: $orange;
  border: none;
  position: absolute;
  top: 3px;
  right: 44px;
  border-radius: 200px;
  height: 30px;
  width: 30px;
  padding-top: 3px;
  padding-right: 0px;
  padding-left: 2px;
  color: $white;
  margin-right: 6px;
  box-shadow: 1px 1px 1px #888888;
  .edit-button {
    padding-top: 5px;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 30px;
    margin: 0;
  }
}

.button-edit-galery.active{
  background: $orange-dark;
  box-shadow: inset 1px 1px 5px #888888;
  transform: translate(2px, 2px);
 }

.slick-container {
  width: 97%;
}

.edit-button{
  margin-top: 30px;
}

.event-container{
  border: 2px solid $grey;
}
