$grey: #E6E6E6;
$light-grey: #F7F7F7;
$dark-grey: #9B9B9B;
$orange: #FF4444;

.flex-title{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-self: flex-start;
}

.list-flex {
  @extend .flex-title;
}

.filter-section {
  border: 2px solid $grey;
  background-color: white;
  flex: 1 1 auto;
  margin: 0 1% 10px 1%;
  min-width: 200px;
  max-width: 100%;

  .filter-title{
    margin-top: 5px;
    text-align: center;
    color: #4A4A4A;
    font-size: 19px; 
  }

  .filter-text{
    color: $dark-grey;
    text-align: center;
  }

  .filter-component-flex{
     @extend .flex-title;
  }

  .filter-component-flex, .filter-component {
    padding: 0 10px;

    .filter-field {
       flex: 1 0 auto;
       min-width: 120px;
       padding: 1px;
       margin: 5px 0 5px 0;

       option.default {
        color: rgba(0,0,0,0);
       }
    }

    .btn-small-div {
      @extend .flex-title;
      flex: 2 0 auto;
      min-width: 280px;
    }

    .filter-field.default {
      select {
        color: $dark-grey;
        text-align-last:center;
        option{
          text-align: right;
          color: #000000;
        }

        option.default {
        color: rgba(0,0,0,0);
       }
      }
    }

    .form-control:focus{
      border-color: #CCC;
      box-shadow: none;
    }

    .filter-date{
      flex: 1;
      min-width: 150px;
      padding: 1px;
      margin: 5px 0 5px 0;

      input[type="date"][value=""]{
        color: #b29c99;
      }
    }
  }
}

.btn-find-div{
  text-align: center;
  flex: 1;
  margin: 5px 0 5px 0;

  .btn-find{
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 1px;

    min-width: 100px;
    margin: 0 10px 10px 10px;
  }
}

.wrapper-flex {
  border: 2px solid $grey;
  background-color: white;
  margin: 0 1% 5px 1%;
  flex: 10 0 auto;
  min-width: 250px;
}

.animal-item-container {
  display: flex;
  background-color: $light-grey;
  margin-bottom: 3px;
  margin-top: 4px;
  height: auto;
  padding: 5px;
}

.animal-item-container:hover {
    background-color: $grey;
}

.selected-item-container {
  @extend .animal-item-container;
  background-color: $grey;
}

.titles-container {
  display: flex;
  margin-left: 41px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 20px;
}

.event-titles-container {
  display: flex;
  margin-left: 60px;
  letter-spacing: 1px;
  font-weight: 500;
}

.event-title-inside {
  flex: 1;
  float: right;
  text-align: right;
  margin-right: 85px;
}

.title-inside {
  flex: 5;
}

.title-ficha {
  flex: 1;
  min-width: 45px;
}

.animal-header {
  overflow: hidden;
  font-size: 20px;
  margin-left: 20px;
  letter-spacing: 1px;
}

.animal-header-title {
  float: left;
  margin-bottom: 15px;
}

.general-list {
  margin: 30px 3% 80px 3%;
}

.general-event-list {
  margin: 10px;
}

.clear { clear:both; }

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.arrow-button {
  margin-left: 5px;
  margin-right: 5px;
  color: $dark-grey;
}

.animal-name {
  font-weight: 500;
  font-size: 15px;
  color: $dark-grey;
  flex: 5;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
}

.animal-state {
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  letter-spacing: 1px;
  flex: 5;
  align-self: center;
}

.view-info-icon {
  flex: 1;
  text-align: center;
  min-width: 45px;
  align-self: center;
}

.event-name{
  font-weight: 500;
  font-size: 16px;
  color: $dark-grey;
  flex: 1;
  padding: 5px;
  flex: 1;
}

.event-date{
  text-align: right;
  margin-right: 50px;
  color: $dark-grey;
  font-size: 15px;
  padding: 5px;
  flex:1;
}

.button-show {
  border: none;
  background: none;
  padding: 0;
}

.adopted-animal {
  color: green;
}

.not-adopted-animal {
  color: $orange;
}

.link-style {
  color: inherit;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.link-style:hover {
  color: inherit;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.view-more-container {
  text-align: center;
  margin: 16px auto;
  width: 88%;
}

.view-more-button {
  color: grey;
}

.view-more-button:hover {
  text-decoration: underline;
}

.spinner-style {
  color: grey !important;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.center-me {
  margin: 0 auto;
}

.event-description {
  margin: 10px 20px;
}

.event-gallery {
  width: 97%;
  margin: 10px;
}
