$dark-grey: #9B9B9B;
$orange: #E8A948;
$dark-orange: #ff6600;

.loading-container {
  display: flex;
  justify-content: center;
  min-height: 400px;
  align-items: center;
  color: $orange;
  font-family: 'Roboto', sans-serif;

  .three-bounce > div{
    background-color: $orange;
    width: 20px;
    height: 20px;
  }

  .loading-images {
    align-self: center;
    animation: roll 3s infinite;
    transform: rotate(30deg);

    .loading-icon {
      font-size: 49px; 
    }
  }

  .loading-text {
    font-size: 24px;
    margin-right: 12px;
  }
}

.animal-form-wrapper {
  margin: 20px;
}

.animal-form-title {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 300;
  color: #5d5a5a;
}

.form-container {
  font-family: 'Roboto', sans-serif;
  color: $dark-grey;
  font-weight: 300;
}

.animal-form {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  .react-datepicker__input-container {
    width: 100%;
  }

  .animal-checkbox {
    margin: 7px;
    font-weight: 300;
    color: $dark-grey;
    flex: 0 0 0;
  }

  .checkbox + .checkbox {
    margin-top: 7px;
  }

  .alert-danger {
    padding: 5px;
    font-size: x-small;
    margin-bottom: 6px;
  }
}

.animal-buttons{
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-start;

  .submit-button {
    background: $orange;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 1px;
    width: 125px;
    margin: 0 10px 10px 10px;
  }

  .submit-button:hover {
    background: $dark-orange;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 1px;
    width: 125px;
  }

  .submit-button:focus {
    color: white;
    outline: none;
  }

  .cancel-button {
    @extend .submit-button;
    background: $dark-grey;
  }

  .cancel-button:hover {
    color: white;
    background: #5d5d5d;
  }

  .cancel-button:focus {
    @extend .submit-button:focus;
  }
}

.animal-input {
  order: 1;
  flex: 1 1 auto;
  align-self: auto;
  min-width: 230px;
  min-height: auto;
  margin: 0 7px;

  .input-label {
    font-weight: 300;
    color: $dark-grey;
  }
  
  .animal-checkbox {
    margin: 7px;
    font-weight: 300;
    color: $dark-grey;
    flex: 0 0 0;
  }

  .checkbox + .checkbox {
    margin-top: 7px;
  }

}

.profile-animal-input {
  order: 1;
  flex: 1 1 auto;
  align-self: auto;
  min-width: 250px;
  min-height: auto;
  margin: 0 7px;

  .input-label {
    font-weight: 300;
    color: $dark-grey;
  }
}

.button-animal {
  background: none;
  border: none;

  .add-button {
    font-size: 42px;
    text-shadow: 1px 1px 1px #888888;
    margin: 0;
    float: right;
  }
}

.button-animal:focus {
  outline: none;
}

.button-add-images {
  @extend .button-animal;
  position: absolute;
  top: 0;
  right: 0;

  .add-button {
    font-size: 35px;
    margin: 0;
  }
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-device-width: 736px) {
  .animal-buttons {
    justify-content: center;
  }
}
