$grey: #e6e6e6;
$light-grey: #f7f7f7;
$dark-grey: #9b9b9b;
$orange: #f44;
$dark-orange: #f60;
$red: #f00;

.flex-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-self: flex-start;
}

.list-flex {
  @extend .flex-title;
}

.filter-section {
  border: 2px solid $grey;
  background-color: white;
  flex: 1 1 25rem;
  margin: 0 1% 10px;
  min-width: 200px;
  max-width: 100%;

  .filter-title {
    margin-top: 5px;
    text-align: center;
    color: #4a4a4a;
    font-size: 19px;
  }

  .filter-text {
    color: $dark-grey;
    text-align: center;
  }

  .filter-component-flex {
    @extend .flex-title;
  }

  .filter-component-flex,
  .filter-component {
    padding: 0 10px;

    .filter-field {
      flex: 1 0 40%;
      min-width: 100px;
      padding: 1px;
      margin: 5px 0;

      option.default {
        color: rgba(0, 0, 0, 0);
      }
    }

    .btn-find-div.btn-small-div {
      @extend .flex-title;

      flex: 2 0 auto;
      min-width: 280px;

      .btn-find {
        min-width: 90px;
        margin: 0 5px 10px;
      }
    }

    .filter-field.default {
      select {
        color: $dark-grey;
        text-align-last: center;

        option {
          text-align: right;
          color: #000;
        }

        option.default {
          color: rgba(0, 0, 0, 0);
        }
      }
    }

    .form-control:focus {
      border-color: #ccc;
      box-shadow: none;
    }

    .filter-date {
      flex: 1 0 50%;
      min-width: 150px;
      padding: 1px;
      margin: 5px 0;

      input[type="date"][value=""] {
        color: #b29c99;
      }
    }
  }
}

.btn-find-div {
  text-align: center;
  flex: 1 0 auto;
  margin: 5px 0;

  .btn-find {
    color: white;
    background-color: #e8a948;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 1px;
    min-width: 100px;
    margin: 0 10px 10px;
  }

  .btn-find:hover {
    color: white;
    background: $dark-orange;
  }

  .btn-find:focus {
    color: white;
  }

  .cancel-more-button {
    @extend .btn-find;

    background: $dark-grey;
  }

  .cancel-more-button:hover {
    color: white;
    background: #5d5d5d;
  }
}

.wrapper-flex {
  border: 2px solid $grey;
  background-color: white;
  margin: 0 1% 10px;
  flex: 10 1 58%;
  min-width: 250px;
}

.wrapper-flex-modal {
  @extend .wrapper-flex;

  border: none;
}

.animal-item-container {
  display: flex;
  background-color: $light-grey;
  margin-bottom: 3px;
  margin-top: 4px;
  height: auto;
  padding: 5px;
}

.animal-item-container:hover {
  background-color: $grey;
}

.selected-item-container {
  @extend .animal-item-container;

  background-color: $grey;
}

.titles-container {
  display: flex;
  margin-left: 41px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 20px;
}

.titles-container-adoption {
  @extend .titles-container;

  margin-right: 50px;
}

.title-inside {
  flex: 5;
}

.title-ficha {
  flex: 1;
  min-width: 45px;
}

.animal-header {
  overflow: hidden;
  font-size: 20px;
  margin-left: 20px;
  letter-spacing: 1px;
}

.animal-header-title {
  float: left;
  margin-bottom: 15px;
}

.general-list {
  margin: 30px 3% 80px;
}

.general-event-list {
  margin: 10px;
}

.general-list-link {
  margin: 30px 3% 10px;
}

.clear { clear: both; }

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.arrow-button {
  margin-left: 5px;
  margin-right: 5px;
  color: $dark-grey;
}

.animal-name {
  font-weight: 500;
  font-size: 15px;
  color: $dark-grey;
  flex: 5;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
}

.animal-state {
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  letter-spacing: 1px;
  flex: 5;
  align-self: center;
}

.view-info-icon {
  flex: 1;
  text-align: center;
  min-width: 45px;
  align-self: center;

  .adopt-checkbox {
    margin: 0;

    label {
      display: block;
    }
  }
}

.button-show {
  border: none;
  background: none;
  padding: 0;
}

.adopted-animal {
  color: green;
}

.not-adopted-animal {
  color: $orange;
}

.link-style {
  color: inherit;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.link-style:hover {
  color: inherit;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.view-more-container {
  text-align: center;
  margin: 16px auto;
  width: 88%;
}

.view-more-button {
  color: grey;
}

.view-more-button:hover {
  text-decoration: underline;
}

.spinner-style {
  color: grey !important;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.center-me {
  margin: 0 auto;
}

.no-result-search {
  text-align: center;
  margin-top: 40px;
  color: $dark-grey;
}

.titles-adopted-list {
  @extend .titles-container;

  margin-left: 20px;
}

.filterError {
  color: $red;
  font-size: 12px;
  margin-left: 3px;
}
