$grey: #e6e6e6;
$orange: #e8a948;
$orange-dark: #c39145;
$white: #fff;
$dark-grey: #9b9b9b;
$dark: #4a4a4a;
$shadow: #888;
$dark-orange: #f60;
$ligth-dark-gery: #5d5d5d;

.profile-page-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-self: flex-start;
  margin: 0 15px 20px;
}

.mini-profile-flex {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
}

.other-section {
  -webkit-flex: 1 0 70%;
  flex: 1 0 60%;
  min-width: 300px;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column nowrap;
  max-width: 100%;
}

.profile-section {
  -webkit-flex: 1 0 20%;
  flex: 1 0 auto;
  min-width: 300px;
  margin: 0 10px 40px;
}

.section-div {
  border: 2px solid $grey;
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
  position: relative;
}

.perfil-div {
  @extend .section-div;

  margin: 0 5px 5px;
  width: 340px;

  .export-perfil {
    font-size: 18px;
    padding: 0 7px;
    font-weight: bolder;
    color: $white;
    letter-spacing: 1px;
    margin: 2px;
  }
}

.event-div {
  @extend .section-div;

  flex: 1 0 auto;
}

.gallery-div {
  @extend .section-div;

  height: 175px;
  width: 100%;
}

.perfil-box {
  height: 100%;
  max-height: 810px;
  font-size: 14px;
  font-family: Roboto;
  color: $dark;
  letter-spacing: 1px;
}

.tabel-div {
  width: 100%;
  max-width: 280px;
  margin: 0 0 10px;
  padding: 10px 30px 30px;
  position: relative;

  .table-borderless {
    width: 100%;
  }

  td {
    height: 27px;
    max-width: 150px;
    word-wrap: break-word;
    padding: 2px;
  }

  tr {
    line-height: 17px;
  }
}

.mini-tabel-div {
  background-color: white;
  padding: 10px 30px;
  text-align: center;

  th {
    text-align: center;
    border-left: 2px solid $grey;
    border-bottom: 2px solid $grey;
    width: 160px;
    padding: 10px;
  }

  td {
    border-left: 2px solid $grey;
    width: 160px;
    padding: 10px;
  }
}

.perfil-image {
  width: 100%;
  max-height: 440px;
  border: 1px solid $dark-grey;
}

.mini-perfil-image {
  width: 100%;
  max-width: 100px;
  max-height: 88px;
}

.gallery-buttons {
  position: relative;
  margin-bottom: 24px;
}

.button-edit-galery {
  background: $orange;
  border: none;
  position: absolute;
  top: 3px;
  right: 44px;
  border-radius: 200px;
  height: 30px;
  width: 30px;
  padding-top: 3px;
  padding-right: 0;
  padding-left: 2px;
  color: $white;
  margin-right: 6px;
  box-shadow: 1px 1px 1px $shadow;

  .edit-button {
    padding-top: 5px;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 30px;
    margin: 0;
  }
}

.button-edit-galery.active {
  background: $orange-dark;
  box-shadow: inset 1px 1px 5px $shadow;
  transform: translate(2px, 2px);
}

.slick-container {
  width: 97%;
}

.event-container {
  border: 2px solid $grey;
  overflow: auto;
  max-height: 600px;
}

.edit-button {
  position: absolute;
  right: 100px;
}

.btn-circle {
  border: 1px solid transparent;
  position: absolute;
  bottom: -4px;
  right: 15px;
  line-height: 1.428571429;
  width: 30px;
  height: 30px;
  padding: 2px 0 0 2px;
  border-radius: 30px;
  background-color: $orange;
  box-shadow: 1px 1px 1px $shadow;
}

#app .section-title-events {
  .exportEvent {
    margin-left: 15px;
  }
}

.edit-profile-image {
  width: 140px;
  height: 140px;
}

.edit-image-container {
  z-index: 2;
  position: fixed;
}

.drop-visible-container {
  z-index: 1;
  position: fixed;
}

a.adopted-animal {
  text-decoration: none;
}
