$grey: #E6E6E6;
$orange: #E8A948;
$orange-dark: #c39145;
$white: #FFFFFF;
$dark-grey: #9B9B9B;

.profile-page-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-self: flex-start;
  margin-bottom: 20px;
}

.mini-profile-flex {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: flex-start;
  algin-content: stretch; 
  flex-wrap: wrap;
}

.events-gallery-section {
  max-width: 70%;
  width: 70%;
  min-width: 300px;
}

.profile-section {
  max-width: 20%;
  min-width: 300px;
  margin: 0 10px;
}

.section-div{
  border: 2px solid $grey;
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
  position: relative;
}

.perfil-div{
  @extend .section-div;
  margin: 0 5px;
  width: 340px;
}

.event-div{
  @extend .section-div;
  height: 450px;
}

.gallery-div{
  @extend .section-div;
  height: 175px;
}

.perfil-box{
  height: 580px;
  font-size: 14px;
}

.tabel-div{
  width : 100%;
  max-width : 280px;
  margin: 0px;
  padding: 10px 30px;
  .table-borderless{
    width: 100%;
  }

  td{
    height: 33px;
  }

  tr{
    line-height: 17px;
  }
}

.mini-tabel-div{
  background-color: white;
  padding: 10px 30px 10px 30px;
  text-align : center;
  th{
    text-align : center;
    border-left: 2px solid $grey;
    border-bottom: 2px solid $grey;
    width: 160px;
    padding: 10px;
  }
  td{
    border-left: 2px solid $grey;
    width: 160px;
    padding: 10px;
  }
}

.perfil-image {
  width: auto;
  max-width: 100%;
  max-height: 200px;
  box-shadow: 2px 2px 11px $dark-grey;
  border: 1px solid $dark-grey;
}

.mini-perfil-image {
  width: 100%;
  max-width: 100px;
  max-height: 88px;
}

.gallery-buttons {
  position: relative;
  margin-bottom: 24px;
}

.button-edit-galery{
  background: $orange;
  border: none;
  position: absolute;
  top: 3px;
  right: 44px;
  border-radius: 200px;
  height: 30px;
  width: 30px;
  padding-top: 3px;
  padding-right: 0px;
  padding-left: 2px;
  color: $white;
  margin-right: 6px;
  box-shadow: 1px 1px 1px #888888;
  .edit-button {
    padding-top: 5px;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 30px;
    margin: 0;
  }
}

.button-edit-galery.active{
  background: $orange-dark;
  box-shadow: inset 1px 1px 5px #888888;
  transform: translate(2px, 2px);
 }

.slick-container {
  width: 97%;
}
