@import './animal-form.scss';

$dark-grey: #9b9b9b;
$black: #4a4a4a;
$dark-orange: #f60;
$orange: #e8a948;
$grey: #e6e6e6;

.title-input {
  flex: 2 1 auto;
}

.date-input {
  margin-bottom: 15px;
}

.description-input {
  @extend .animal-input;

  flex: 0 1 100%;

  .form-control {
    resize: none;
    height: 100px;
  }
}

.section-title-events {
  color: $black;
  font-size: 19px;
  margin: 10px 0 25px 10px;
  position: relative;
}

.event-search-container {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  align-self: flex-start;
}

.filter-event-field {
  flex: 1 1 auto;

  .form-control:focus {
    outline: none;
    border-color: $orange;
    box-shadow: none;
  }
}

.btn-find-event {
  flex: 1 1 auto;

  .orange-btn {
    color: white;
    transition-duration: 0.4s;
    border-radius: 1px;
    margin-left: 10px;
    background: $orange;
  }

  .orange-btn:hover {
    color: white;
    background: $dark-orange;
  }

  .orange-btn:focus {
    color: white;
  }
}

.event-description {
  margin: 10px 20px;
  max-height: 500px;
  max-width: 800px;
}

.event-gallery {
  width: 97%;
  margin: 10px;
}

.event-container {
  border: 2px solid $grey;
  overflow: auto;
  max-height: 500px;
}

.event-titles-container {
  display: flex;
  margin-left: 60px;
  letter-spacing: 1px;
  font-weight: 500;
}

.event-title-inside {
  flex: 1 1 auto;
  float: right;
  text-align: right;
  margin-right: 85px;
}

.event-name {
  font-weight: 500;
  font-size: 16px;
  color: $dark-grey;
  flex: 3 1 auto;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-date {
  text-align: right;
  margin-right: 50px;
  color: $dark-grey;
  font-size: 15px;
  padding: 5px;
  flex: 1;
}

.general-event-list {
  margin: 10px;
}
