$dark-grey: #9B9B9B;
$black: #4A4A4A;
$dark-orange: #ff6600;
$orange: #E8A948;

.title-input {
  flex: 2 1 0;
}

.empty-events-container{
  color: $dark-grey;
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

.date-input {
  margin-bottom: 15px;
}

.description-input {
  flex: 0 1 100%;

  .form-control {
    resize: none;
    height: 100px;
  }
}

.section-title-events {
  color: $black;
  font-size: 19px;
  margin: 10px 0 25px 10px;
  position: relative;
}

.event-search-container {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  align-self: flex-start;
}

.filter-event-field {
  flex: 1 1 auto;

  .form-control:focus {
    outline: none;
    border-color: $orange;
    box-shadow: none;
  }
}

.btn-find-event {
  flex: 1 1 auto;

  .orange-btn {
    color: white;
    transition-duration: 0.4s;
    border-radius: 1px;
    margin-left: 10px;
    background: $orange;
  }

  .orange-btn:hover {
    color: white;
    background: $dark-orange;
  }

  .orange-btn:focus {
    color: white;
  }
}
