$dark-grey: #9B9B9B;

.title-input {
  flex: 2 1 0;
}

.empty-events-container{
  color: $dark-grey;
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

.date-input {
  margin-bottom: 15px;
}

.description-input {
  flex: 0 1 100%;

  .form-control {
    resize: none;
    height: 100px;
  }
}
