#app .navbar {
  min-height: 72px;

  .imageheader {
    margin: 0 20px;
    padding: 0 0 10px;
    height: 70px;

    img {
      height: 100%;
    }
  }
}

#app .nav-Options {
  .nav {
    margin: 30px 1% 10px 2%;
    color: white;

    a {
      color: #fff;
      padding-bottom: 5px;
    }

    a:hover,
    a:focus {
      text-decoration: none;
    }
  }

  .nav.navbar-right {
    margin-top: 26px;
  }
}

.header-link {
  position: relative;
  color: #000;
  text-decoration: none;
}

.header-link:hover {
  color: white;
}

.header-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.active-link {
  font-weight: 600;
}

.active-link::before {
  @extend .header-link::before;

  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header-span {
  vertical-align: super;
}

.logout-button {
  text-decoration: none;
  background: none;
  border: none;
  vertical-align: super;
  padding: 0;
}

@media (min-width: 768px) {
  #app .container {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  #app {
    .nav-Options {
      padding-right: 0;

      .navbar-right {
        margin-right: 0;
        margin-left: 0;
      }

      .item {
        margin: 30px 0 10px 2%;
      }
    }

    .navbar .imageheader {
      margin-right: 5px;
    }
  }
}
