$dark-grey: #9B9B9B;
$light-grey: #F7F7F7;

.dropzone-container {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #9B9B9B;
  margin: 15px 10px;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border: 2px dashed $dark-grey;
  border-radius: 5px;
  margin-bottom: 20px;
}

.dropzone-active {
  border-style: solid;
  background-color: #F7F7F7;
}

.dropzone-text {
  font-weight: 300;
  color: #9B9B9B;
  font-size: 17px;
  margin: 20px;
}

.image-preview {
  height: 100px;
  max-width: 200px;
  width: auto;
  border: solid 1px;
  border-radius: 5px;
}

.images-preview {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image-wrapper {
  position: relative;
  margin: 10px;
}

.image-wrapper:hover {
  .image-preview {
    opacity: 0.5;
  }
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  z-index: 100;
  padding: 3px;
}

.remove-button:focus {
  outline: none;
}

.remove-icon {
  color: $dark-grey;
}

.profile-dropzone {
  @extend .dropzone;
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.profile-image {
  height: 140px;
}

.error-dropzone {
  height: 10px;
  width: 140px;
  font-size: x-small;
  font-weight: 400;
  line-height: 2px;
}
