$dark-grey: #9b9b9b;
$light-grey: #f7f7f7;

.dropzones-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 10px 15px;
}

.dropzone-profile-container {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $dark-grey;
  margin: 10px 15px 0 0;
  flex: 1 1 auto;
}

.dropzone-container {
  @extend .dropzone-profile-container;

  flex: 1 1 auto;
  min-width: 270px;
  margin: 10px 0;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  border: 2px dashed $dark-grey;
  border-radius: 5px;
  margin-bottom: 20px;
}

.dropzone-active {
  border-style: solid;
  background-color: $light-grey;
}

.dropzone-text {
  font-weight: 300;
  color: $dark-grey;
  font-size: 17px;
  margin: 20px;
}

.images-preview-container {
  margin-bottom: 30px;
}

.image-preview {
  height: 100px;
  max-width: 200px;
  width: auto;
  border: solid 1px;
  border-radius: 5px;
}

.images-preview {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: $light-grey;
  border-radius: 20px;
}

.image-wrapper {
  position: relative;
  margin: 10px;
}

.image-wrapper:hover {
  .image-preview {
    opacity: 0.5;
  }
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  z-index: 100;
  padding: 3px;
}

.remove-button:focus {
  outline: none;
}

.remove-icon {
  color: $dark-grey;
}

.profile-dropzone {
  @extend .dropzone;

  width: 140px;
  height: 140px;
  overflow: hidden;
  margin-bottom: 0;
}

.profile-image {
  height: 140px;
}

.error-dropzone {
  height: 10px;
  width: 140px;
  font-size: x-small;
  font-weight: 400;
  line-height: 2px;
}
