$orange: #E8A948;
$grey: #E6E6E6;
$dark-grey: #9B9B9B;

#app .carouselSlider{
  max-height: 100px;
  margin-left: 20px;
  margin-right: 20px;

  button.slick-arrow.slick-disabled{
    display : none !important;
  }

  button.slick-arrow{
    color: orange;
    size: 100px;
  }

  button.slick-arrow:before{
    display: none;
  }

  .slick-slide{    
    max-width: 400px;   
    opacity: 0;   
    height: 0;    
    filter:alpha(opacity=0);    
    -webkit-transition: all 0.5s ease-in-out 0s;    
    transition: all 0.5s ease-in-out 0s;    
  }

  .slick-slide.slick-active{
    opacity: 1;
    height: 100%;
    filter:alpha(opacity=100);
    -webkit-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
  }

  .img-container{
    position: relative;
    .img-galery{
      border: solid 1px $dark-grey;
      margin: 0 5px;
      max-height: 100px;
    }

    .btn-img-remove{
      text-align: center;
      height: 25px;
      width: 25px;
      border: 0px;
      position : absolute;
      right : 12px;
      top : 0;
      padding-left: 1.5px;
      opacity: 0.7;
      border-radius: 200px;

      i{
        top:2px;
      }
    }
  }
}

.hiden {
  opacity: 0;
}
