$orange: #E8A948;

#app .carouselSlider{
  max-height: 100px;
  margin-left: 20px;
  margin-right: 20px;

  button.slick-arrow.slick-disabled{
    display : none !important;
  }

  button.slick-arrow{
    color: orange;
    size: 100px;
  }

  button.slick-arrow:before{
    display: none;
  }

  .slick-slide{
    opacity: 0;
    height: 0;
    filter:alpha(opacity=0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }

  .slick-slide.slick-active{
    opacity: 1;
    height: 100%;
    filter:alpha(opacity=100);
    -webkit-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
  }

  .img-container{
    position: relative;
    .img-galery{
      padding-left: 5px;
      padding-right: 5px;
      max-height: 100px;
    }

    .btn-img-remove{
      text-align: center;
      height: 30px;
      width: 30px;
      border: 0px;
      position : absolute;
      right : 5px;
      top : 0;
      padding-top: 3px;
      padding-left: 3.5px;
      border-radius: 200px;

      i{
        top:2px;
      }
    }
  }
}
