$dark-grey: #9b9b9b;
$dark-orange: #f60;
$orange: #e8a948;

.remLink {
  text-align: center;
  width: 100%;
  margin: 10px auto;
  text-decoration: none;
  font-size: 13px;

  a:hover {
    text-decoration: none;
  }
}

.user-form {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.user-input {
  .input-label {
    font-weight: 300;
    color: $dark-grey;
  }
}

.link-wrapper {
  text-align: center;
  margin: 12px 0;
  color: $orange;
}

.form-link {
  color: $orange;
}

.form-link:hover {
  color: $dark-orange;
  text-decoration: none;
}
