$dark-grey: #9B9B9B;
$dark-orange: #ff6600;
$orange: #E8A948;

.remLink{
  text-align: center;
  width: 100%;
  margin: 10px auto;
  text-decoration: none;
  font-size: 10px;

  a:hover{
    text-decoration: none;
  }
}

.user-form {
  .user-submit-btn {
    color: white;
    transition-duration: 0.4s;
    border-radius: 1px;
    width: 100%;

    .three-bounce > div{
      background-color: white;
      width: 16px;
      height: 16px;
    }
  }

  .user-submit-btn:hover {
    color: white;
    background: $dark-orange;
  }

  .user-submit-btn:focus {
    color: white;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.user-input {
  .input-label {
    font-weight: 300;
    color: $dark-grey;
  }
}

.link-wrapper {
  text-align: center;
  margin: 12px 0;
  color: $orange;
}

.form-link {
  color: $orange;
}

.form-link:hover {
  color: $dark-orange;
  text-decoration: none;
}
