$grey: #e6e6e6;
$dark-grey: #9b9b9b;
$black: #4a4a4a;

.big-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-self: flex-start;
}

.image-flex {
  flex: 1 1 12em;
}

.image-animal {
  display: block;
  margin: 0 auto;
}

.flex-items {
  flex: 1 1 6em;
}

.vertical-flex-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  resize: vertical;
  height: 100%;
  text-align: center;
  border-left-style: solid;
  border-right-style: solid;
  border-color: $grey;
  border-width: 1px;
}

.vertical-flex {
  flex: 1;
  height: 47px;
  padding-top: 10px;
}

.bottom-border {
  border-bottom-style: solid;
  border-color: $grey;
  border-width: 2px;
}

.titles-font {
  font-weight: 500;
}

.description-container {
  border-top-style: solid;
  border-color: $dark-grey;
  border-width: 1px;
  padding: 10px;
  font-size: 15px;
  color: $dark-grey;
}
