$white: #fff;
$grey: #f7f7f7;
$dark-grey: #9b9b9b;
$reddish: #e63900;
$middle-grey: #e6e6e6;

.report-page {
  display: flex;
  min-height: 200px;
  justify-content: center;
  margin: 0 10px;
  padding: 5px;
  background-color: $white;
  border: 2px solid $middle-grey;
  position: relative;

  .report-table {
    width: 100%;
    flex: 17 1 auto;
    margin: 10px 20px;
  }

  .refresh-button {
    position: absolute;
    left: 3px;
    top: 3px;
  }
}

.report-titles-container {
  display: flex;
}

.report-titles-container-header {
  @extend .report-titles-container;

  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 20px;
}

.report-titles-container-item {
  @extend .report-titles-container;

  background-color: $grey;
  margin-bottom: 3px;
  margin-top: 4px;
  height: auto;
  padding: 5px;
}

.report-inside {
  padding: 0 3px;
  flex: 5 1 10%;
  text-align: center;
}

.title {
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0 10px 10px 15px;
}

.report-inside-type {
  padding: 0 3px;
  flex: 2 1 auto;
}

.report-item {
  font-weight: 500;
  font-size: 15px;
  color: $dark-grey;
}

.report-type-pdf {
  color: $reddish;
}

.report-type-xls {
  color: green;
}
