$grey: #e6e6e6;

.profile-page-flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  align-self: flex-start;
  margin: 0 15px 20px;
}

.outer-flex {
  -webkit-flex: 1 0 70%;
  flex: 1 0 60%;
  min-width: 300px;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 100%;
}

.statistic-div {
  border: 2px solid $grey;
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
}

.inner-flex {
  flex: 1 0 auto;
  position: relative;
  min-width: 300px;
}
