@import "./animal-perfil.scss";
@import "./animal-form.scss";

.statistic-page-flex {
  @extend .profile-page-flex;

  flex-flow: column wrap;
}

.outer-flex {
  @extend .mini-profile-flex;

  align-content: center;
  flex-flow: row wrap;
  min-height: 200px;
  margin-bottom: 10px;
}

.statistic-div {
  border: 2px solid $grey;
  margin: 0 2.5px 5px;
  padding: 5px;
  background-color: white;
}

.inner-flex {
  flex: 3 1 40rem;
  min-width: 200px;
  margin-bottom: 5px;
}

.statistic-title {
  width: 100%;
  font-weight: 500;
  color: $dark-grey;
  margin-bottom: 10px;
  font-size: 15px;
}

.stat-input {
  flex: 1 1 40rem;
  align-self: auto;
  margin: 0 7px;
  min-width: 50px;
}

.adoption-statistic-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.pie-chart {
  margin-top: 40px;
}

.redraw-chart-button {
  margin: 30px 10px 0;
  flex: 1 0 auto;
  text-align: center;
}

.redraw-chart-button-style {
  color: grey;
}

.redraw-chart-button-style:hover {
  color: orange;
}

.species-stat-container {
  margin: 0 15px 10px;
}

.legend-container {
  @extend .mini-profile-flex;

  align-content: center;
  flex-flow: row wrap;
  text-align: center;
  margin: 10px 30px 10px 50px;
}

.legend-item {
  flex: 1 0 auto;
  min-width: 60px;
  font-size: 12px;
  margin: 4px;

  .color-round {
    font-size: 11px;
  }
}

.pie-div {
  @extend .inner-flex;

  flex: 1 1 40rem;
}

.stat-input-species {
  @extend .stat-input;

  flex: 1 1 40rem;
}

.species-statistic-container {
  @extend .outer-flex;

  flex-direction: row wrap;
  min-height: 0;
}

.dates-flex {
  @extend .inner-flex;

  display: flex;
  flex-direction: row wrap;
}
