$light-red: #FF6F59;
$pink: #F67787;
$orange: #E8A948;
$black: #4A4A4A;
$dark-grey: #9B9B9B;
$grey: #E6E6E6;
$light-grey: #F7F7F7;

.red-color {
  color: red;
}

.green-color {
  color: green;
}

.light-red-color {
  color: $light-red  
}

.pink-color {
  color: $pink
}

#app .orange-color {
  color: $orange
}

#app .bg-orange-color {
  background-color: $orange
}

.black-color {
  color: $black 
}

.dark-grey-color {
  color: $dark-grey 
}

.grey-color {
  color: $grey 
}

.light-grey-color {
  color: $light-grey 
}

#app {
  font-family: 'Roboto', sans-serif;
  .alert-danger{
    padding: 5px;
    font-size: x-small;
  }
  height: 100%;
}

#app > div {
  height: 100%;
}

body {
  background-color: $light-grey !important;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

.login-box {
  display: block;
  margin: 0 auto;
  background-color: white;
  box-shadow: 4px 4px 10px $grey;
  border: 1px solid $grey;
  margin: 50px 10px;
  padding: 5px;
}

.content {
  min-height: 100%;
  margin-bottom: -50px;
}

.content:after {
  content: "";
  display: block;
}

.footer, .content:after {
  height: 50px; 
  text-align: center;
}

.row {
  margin: 0 !important;
}

.m-bot30 {
  margin-bottom: 30px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.table-borderless tbody tr td{
  border: none;
  width: 2000px;
  padding-bottom: 0.3em;
}

.Perfil-box {
  width: 300px;
  height: 450px;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  display: block;
  background-color: white;
  border: 2px solid $grey;
  margin: 8px 8px;
}

.Prow {
  padding: 30px;
}

.Pimage-header {
  width: 290px;
  max-height: 200px;
  display: table;
  margin: 0 auto;
}
