$light-red: #ff6f59;
$pink: #f67787;
$orange: #e8a948;
$dark-orange: #f60;
$black: #4a4a4a;
$dark-grey: #9b9b9b;
$grey: #e6e6e6;
$light-grey: #f7f7f7;
$grey-shadow: #888;
$white: #fff;
$dark-grey-hover: #5d5d5d;

.red-color {
  color: red;
}

.green-color {
  color: green;
}

.light-red-color {
  color: $light-red;
}

.pink-color {
  color: $pink;
}

#app .orange-color {
  color: $orange;
}

#app .bg-orange-color,
.bg-orange-color {
  background-color: $orange;
}

.black-color {
  color: $black;
}

.dark-grey-color {
  color: $dark-grey;
}

#app .bg-dark-grey-color,
.bg-dark-grey-color {
  background-color: $dark-grey;
}

.light-red {
  color: $light-red;
}

.grey-color {
  color: $grey;
}

.not-so-dark-grey-color {
  color: #ccc;
}

.light-grey-color {
  color: $light-grey;
}

#app {
  font-family: 'Roboto', sans-serif;
  height: 100%;

  .alert-danger {
    padding: 5px;
    font-size: x-small;
  }
}

#app > div {
  height: 100%;
}

body {
  background-color: $light-grey !important;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

.login-box {
  display: block;
  background-color: white;
  box-shadow: 4px 4px 10px $grey;
  border: 1px solid $grey;
  margin: 50px 10px;
  padding: 5px;
}

.content {
  min-height: 100%;
  margin-bottom: -50px;
}

.content::after {
  content: "";
  display: block;
}

.footer,
.content::after {
  height: 50px;
  text-align: center;
}

.row {
  margin: 0 !important;
}

.m-bot30 {
  margin-bottom: 30px;
}

.m-right30 {
  margin-right: 30px;
}

.m-top20 {
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.color {
  color: white;
  font-size: 24px;
}

.material-icons.edit {
  color: $white;
  font-size: 24px;
}

.not-border {
  border: none;
}

.center {
  display: table;
  margin: 0 auto;
}

#app .page {
  position: relative;
  padding: 20px;
}

.p-relative {
  position: relative;
}

.spinner-div {
  height: 90%;
  width: 100%;
  text-align: center;
  background-color: white;
  cursor: wait;

  .spinner-icon {
    display: inline-block;
  }

  .three-bounce > div {
    background-color: $orange;
    width: 20px;
    height: 20px;
  }
}

.spinner-div::before {
  content: "";
  display: block;
  height: 50%;
  max-height: 200px;
}

#app button,
input[type=button] {
  outline: none;
}

body button,
input[type=button] {
  outline: none !important;
}

.btn-circle-general {
  border: 1px solid transparent;
  line-height: 1.428571429;
  width: 30px;
  height: 30px;
  padding-top: 2px;
  padding-left: 2px;
  background-color: $orange;
  box-shadow: 1px 1px 1px $grey-shadow;
  border-radius: 30px;
}

#app .btn-rec {
  font-size: 15px;
  padding-top: 3px;
  font-weight: bolder;
  color: $white;
  letter-spacing: 1px;
  margin: 1px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-circle {
  @extend .btn-circle-general;

  position: absolute;
  right: 15px;
  float: right;
}

.btn-circle-edit {
  @extend .btn-circle-general;

  position: relative;
  top: 110px;
  left: 150px;
}

.react-datepicker {
  border: 1px solid $dark-grey !important;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  width: 230px;

  .react-datepicker__triangle {
    border-bottom-color: $orange;
  }

  .react-datepicker__triangle::before {
    border-bottom-color: $dark-grey;
  }

  .react-datepicker__header {
    background-color: $orange;
    border-radius: 0;
  }

  .react-datepicker__navigation--previous {
    border-right-color: white;
  }

  .react-datepicker__navigation--next {
    border-left-color: white;
  }

  .react-datepicker__current-month,
  .react-datepicker__day-name {
    color: white;
  }

  .react-datepicker__day--selected {
    background-color: #fdc181;
  }
}

.confirm-modal {
  position: relative;
  margin: 5px;
  text-align: center;

  .confirm-title {
    color: $black;
    font-size: 19px;
  }

  .confirm-message {
    margin: 5% 0;
    font-size: 18px;
  }

  .btn-div {
    text-align: center;
  }

  .btn {
    font-size: 10px;
    margin: 10px 5px;
    color: #fff;
  }
}

.field .react-datepicker__input-container {
  width: 100%;
}

.position-relative {
  position: relative;
}

#app {
  .btn-export {
    font-size: 12px;
    padding: 0 7px;
    font-weight: bolder;
    color: $white;
    letter-spacing: 1px;
    margin: 1px;
  }

  .btn-edit {
    font-size: 3px;
    padding: 0 7px;
    font-weight: bolder;
    color: $white;
    letter-spacing: 1px;
    margin-top: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-delete {
    @extend .btn-edit;

    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.submit-btn {
  color: white;
  transition-duration: 0.4s;
  border-radius: 1px;
  width: 100%;
  background: $orange;

  .three-bounce > div {
    background-color: white;
    width: 16px;
    height: 16px;
  }
}

.submit-btn:hover {
  color: white !important;
  background: $dark-orange;
}

.submit-btn:focus {
  color: white !important;
}

#modal {
  font-family: 'Roboto', sans-serif;

  .buttons-wrapper {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-start;
  }

  .btn {
    background: $orange;
    color: white;
    transition-duration: 0.4s;
    border-radius: 0;
    font-size: 15px;
    margin: 0 10px 10px;
    width: 125px;
  }

  .btn:hover {
    background: $dark-orange;
  }

  .cancel-button {
    background: $dark-grey;
  }

  .cancel-button:hover {
    background: $dark-grey-hover;
  }

  .center-buttons {
    @extend .buttons-wrapper;

    justify-content: center;
  }
}

.test {
  justify-content: center !important;
}

.cursor-button {
  cursor: pointer;
}

.perfil-buttons-wrapper {
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
}
