$light-red: #FF6F59;
$pink: #F67787;
$orange: #E8A948;
$black: #4A4A4A;
$dark-grey: #9B9B9B;
$grey: #E6E6E6;
$light-grey: #F7F7F7;

.red-color {
  color: red;
}

.green-color {
  color: green;
}

.light-red-color {
  color: $light-red  
}

.pink-color {
  color: $pink
}

.orange-color {
  color: $orange
}

.bg-orange-color {
  background-color: $orange
}

.black-color {
  color: $black 
}

.dark-grey-color {
  color: $dark-grey 
}

.grey-color {
  color: $grey 
}

.light-grey-color {
  color: $light-grey 
}

#app {
  font-family: 'Roboto', sans-serif;
  background-color: $grey;
}

body {
  background-color: $light-grey !important;
}

.login-box {
  display: block;
  margin: 0 auto;
  background-color: white;
  box-shadow: 4px 4px 10px $grey;
  border: 1px solid $grey;
  margin: 50px 10px;
  padding: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}
